## Importar datos

In [1]:
import pandas as pd

df = pd.read_csv("BI.csv")
# Eliminar cliente inusual
df = df[df["ClientID"] != "C442030"]
# Transforma a formato de fecha
df["DATE"] = pd.to_datetime(df["DATE"], format="%d/%m/%Y")
df

,DATE,ClientID,MOVEMENT,BALANCE_IN,TRANSFEROR,BALANCE_OUT,RECEPIENT,AGENT ID,STATUS,CHANNEL,aux,IN,OUT,NUM_MOVEMENTS
0,2017-09-30,689751,in,1073.05,Azteca,0.00,Otros,6022,Inactive,CHANNEL 5,1,1,0,2
1,2018-12-31,689751,out,0.00,Azteca,1066.17,Otros,6022,Inactive,CHANNEL 5,1,0,1,2
2,2019-08-31,689750,in,667984.98,SURA,0.00,Otros,17817,Active,CHANNEL 4,1,1,0,1
3,2017-07-31,689749,in,15180.39,Profuturo,0.00,Otros,24328,Active,CHANNEL 4,1,1,0,1
4,2020-03-31,689748,in,142252.63,Otros,0.00,SURA,12016,Active,CHANNEL 1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749197,2017-03-31,5,out,0.00,Otros,294338.39,Profuturo,30677,Inactive,CHANNEL 5,1,0,1,1
749198,2019-08-31,4,in,19651.88,Banorte,0.00,Banorte,14667,Active,CHANNEL 1,1,1,0,1
749199,2017-01-31,3,out,0.00,Otros,175529.62,Banorte,18024,Inactive,CHANNEL 5,1,0,1,1
749200,2018-02-28,2,out,0.00,Citibanamex,0.00,Banorte,13087,Inactive,CHANNEL 5,1,0,1,1
749201,2018-12-31,1,in,257773.82,Profuturo,0.00,Otros,24597,Active,CHANNEL 4,1,1,0,1

## En caso de querer sutituir los competidores

In [38]:
competitor_dict = {"Competitor 9": "Otros",
                   "Competitor 4": "Azteca",
                   "Competitor 7": "Otros",
                   "Competitor 10": "Otros",
                   "Competitor 13": "Invercap",
                   "Competitor 14": "Profuturo",
                   "Competitor 2": "Banorte",
                   "Competitor 11": "Otros",
                   "Competitor 3": "Citibanamex",
                   "Competitor 12": "SURA",
                   "Competitor 6": "Otros",
                   "Competitor 8": "Otros"
                   }

df["TRANSFEROR"].replace(competitor_dict, inplace=True)
df["RECEPIENT"].replace(competitor_dict, inplace=True)
df

,DATE,ClientID,MOVEMENT,BALANCE_IN,TRANSFEROR,BALANCE_OUT,RECEPIENT,AGENT ID,STATUS,CHANNEL,aux,IN,OUT,NUM_MOVEMENTS
0,30/09/2017,689751,in,1073.05,Azteca,0.00,Otros,6022,Inactive,CHANNEL 5,1,1,0,2
1,31/12/2018,689751,out,0.00,Azteca,1066.17,Otros,6022,Inactive,CHANNEL 5,1,0,1,2
2,31/08/2019,689750,in,667984.98,SURA,0.00,Otros,17817,Active,CHANNEL 4,1,1,0,1
3,31/07/2017,689749,in,15180.39,Profuturo,0.00,Otros,24328,Active,CHANNEL 4,1,1,0,1
4,31/03/2020,689748,in,142252.63,Otros,0.00,SURA,12016,Active,CHANNEL 1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749197,31/03/2017,5,out,0.00,Otros,294338.39,Profuturo,30677,Inactive,CHANNEL 5,1,0,1,1
749198,31/08/2019,4,in,19651.88,Banorte,0.00,Banorte,14667,Active,CHANNEL 1,1,1,0,1
749199,31/01/2017,3,out,0.00,Otros,175529.62,Banorte,18024,Inactive,CHANNEL 5,1,0,1,1
749200,28/02/2018,2,out,0.00,Citibanamex,0.00,Banorte,13087,Inactive,CHANNEL 5,1,0,1,1
749201,31/12/2018,1,in,257773.82,Profuturo,0.00,Otros,24597,Active,CHANNEL 4,1,1,0,1

In [3]:
df.groupby("RECEPIENT").sum().sort_values(by="IN",ascending=False)

,ClientID,BALANCE_IN,BALANCE_OUT,AGENT ID,aux,IN,OUT,NUM_MOVEMENTS
RECEPIENT,,,,,,,,
Otros,127428407209,5.108837e+10,8.572240e+09,6926621575,369649,335387,34262,825906
Profuturo,29643143172,5.015686e+09,1.580677e+10,1349915316,85620,19313,66307,682151
Invercap,21485152630,5.545784e+09,1.466881e+10,958985027,62141,13457,48684,374399
SURA,15855959723,2.634332e+09,1.483938e+10,715516065,46088,8350,37738,201977
Citibanamex,24215400280,1.638826e+09,6.626513e+09,1069272555,69732,8182,61550,754125
Azteca,19503503203,2.725806e+08,3.092978e+09,874788143,56599,3386,53213,1104282
Banorte,20509622246,3.069003e+08,3.201650e+09,909983549,59373,2259,57114,1100736

## Filtrado de clientes

In [215]:
clients = df.groupby(by=["ClientID"]).agg({"aux": "sum", "AGENT ID": "count"})
# Filtrar clientes con aux > 2
clients = clients[clients["aux"] > 2]
# Guarda todos los clientes de interes en una lista
list_clients = clients.index
clients

          aux  AGENT ID
ClientID
C1008       3         3
C10104      3         3
C101167     4         4
C101355     3         3
C101396     3         3
...       ...       ...
C97979      3         3
C98253      3         3
C98418      3         3
C98816      3         3
C99699      3         3

[1621 rows x 2 columns]

## Dataframe solo con los clientes de interÃ©s

In [216]:
# Nuevo dataframe con los clientes filtrados
new_df = df.set_index("ClientID").loc[list_clients]
new_df = new_df.reset_index()
new_df

,ClientID,DATE,MOVEMENT,BALANCE_IN,TRANSFEROR,BALANCE_OUT,RECEPIENT,AGENT ID,STATUS,CHANNEL,aux,IN,OUT,NUM_MOVEMENTS
0,C1008,2016-01-31,out,0.00,Competitor 7,160982.99,Competitor 14,A4325,Inactive,CHANNEL 4,1,0,1,3
1,C1008,2018-03-31,in,191914.97,Competitor 14,0.00,Competitor 14,A11348,Active,CHANNEL 1,1,1,0,3
2,C1008,2019-10-31,out,0.00,Competitor 14,222071.22,Competitor 7,A11348,Active,CHANNEL 1,1,0,1,3
3,C10104,2017-05-31,in,532581.83,Competitor 14,0.00,Competitor 12,A23944,Active,CHANNEL 1,1,1,0,3
4,C10104,2019-01-31,out,0.00,Competitor 14,601029.62,Competitor 7,A23944,Active,CHANNEL 1,1,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,C98816,2017-06-30,in,117949.13,Competitor 13,0.00,Competitor 13,A23623,Active,CHANNEL 1,1,1,0,3
4963,C98816,2020-02-29,out,0.00,Competitor 13,125110.90,Competitor 6,A23623,Active,CHANNEL 1,1,0,1,3
4964,C99699,2016-04-30,in,775560.77,Competitor 6,0.00,Competitor 6,A21626,Inactive,CHANNEL 1,1,1,0,3
4965,C99699,2018-01-31,out,0.00,Competitor 6,905897.83,Competitor 6,A21626,Inactive,CHANNEL 5,1,0,1,3
4966,C99699,2019-03-31,in,1028504.54,Competitor 6,0.00,Competitor 6,A7004,Active,CHANNEL 1,1,1,0,3

## Lista de agentes de interÃ©s

In [220]:
# Lista de agentes contenidas en el nuevo dataframe
agents = new_df["AGENT ID"].unique()
print("Agentes totales:",len(agents))
print(agents)

Agentes totales: 1379
['A4325' 'A11348' 'A23944' ... 'A13968' 'A22473' 'A8137']

## IteraciÃ³n para todos los clientes

### MÃ©todo 1 (Combinaciones)

In [206]:
from itertools import combinations

table = pd.DataFrame(columns=["AGENTS"])

# Itera sobre todos los clientes
for client in list_clients:
    # Filtra dataframe por cliente
    client_df = new_df[new_df["ClientID"] == client]
    # Enlista todos los agentes que comparten un cliente
    agent_per_client = client_df["AGENT ID"].sort_values().unique()
    # Crea dataframe con todas las combinaciones de los agentes
    agent_combinations = pd.DataFrame({"AGENTS":list(combinations(agent_per_client,2))})
    # AÃ±ade la columna cliente con el cliente que comparten estas combinaciones
    agent_combinations["CLIENT"] = client
    # Concatena los dataframes generados
    table = pd.concat([table,agent_combinations])

# Agrupa la tabla por combinaciones de clientes
table = table.groupby("AGENTS").count()
# Convierte la combinaciÃ³n de agente en 2 listas
two_lists = list(zip(*table.index))
table["AGENT1"] = list(two_lists[0])
table["AGENT2"] = list(two_lists[1])
# Elimina la columna AGENTS que contiene la combinaciÃ³n de agentes
table.reset_index(inplace=True)
table.drop("AGENTS", axis=1, inplace=True)
# Reconfigura la tabla
table = table[["AGENT1", "AGENT2", "CLIENT"]]
table = table.sort_values("CLIENT", ascending=False)
table.head(10)

      AGENT1  AGENT2  CLIENT
486   A16558  A25272      14
592   A17700  A23944       9
942   A21662   A6098       9
596   A17700  A30621       8
466   A16483  A21856       8
1267  A30621   A8410       8
1292   A8409   A8464       7
385   A15169  A25957       7
951   A21856   A7004       7
936   A21626   A7004       6

In [ ]:
table.to_csv("tabla_red_social.csv")

### MÃ©todo 2 (Iteradores)

#### FunciÃ³n intersecciÃ³n de clientes

In [ ]:
def intersection(lst1, lst2):
    """Retorna una lista de los clientes comunes entre dos agentes.
    Argumentos de entrada
    lst1: ingresa la lista de clientes del agente1
    lst2: ingresa la lista de clientes del agente2
    """
    lst1 = set(lst1)
    lst2 = set(lst2)
    return list(lst1.intersection(lst2))

In [ ]:
# Prueba de la funciÃ³n
print("Intersecciones de ({}, {})".format(agents[464],agents[321]))
common_client = intersection(new_df[new_df["AGENT ID"] == agents[464]]["ClientID"],
             new_df[new_df["AGENT ID"] == agents[321]]["ClientID"])
print(common_client)

Intersecciones de (A21626, A7004)
['C4862', 'C81868', 'C350422', 'C656224', 'C230018', 'C99699']

#### Proceso de iteraciÃ³n

In [104]:
table_list = []
x = 0
n = len(agents)

# Itera sobre todas las combinaciones de agentes
for i in range(n):
    for j in range(i+1,n):
        # Encuentra los clientes en comÃºn
        common_client = intersection(new_df[new_df["AGENT ID"] == agents[i]]["ClientID"],
                                     new_df[new_df["AGENT ID"] == agents[j]]["ClientID"])
        # Cuenta los clientes en comÃºn
        x = len(common_client)
        # Agrega a la tabla si hay al menos un cliente en comun
        if x > 0:
            table_list.append([agents[i],agents[j],x])
    # Imprime cada 10 agentes el estatus del progreso
    if i % 10 == 0:
        print("\rAgentes analizados: {}/{}".format(i,n),end="")

# Imprime y organiza la tabla
table = pd.DataFrame(table_list, columns=["AGENTID1", "AGENTID2", "CLIENTS"])
table.sort_values("CLIENTS", ascending=False)

Agentes analizados: 1370/1379
Finalizado en 971.51 min

In [107]:
table.to_csv("tabla_red_social.csv")

## Social Network

In [1]:
import pandas as pd
table = pd.read_csv("tabla_red_social.csv")
table.drop(["Unnamed: 0"], axis=1, inplace=True)
table.sort_values("CLIENTS", ascending=False)

    AGENTID1 AGENTID2  CLIENTS
486   A16558   A25272       14
592   A17700   A23944        9
942   A21662    A6098        9
596   A17700   A30621        8
466   A16483   A21856        8
..       ...      ...      ...
441   A15818   A23867        1
438   A15805   A19046        1
437   A15772   A23911        1
436   A15772   A20993        1
648   A18356   A25252        1

[1297 rows x 3 columns]

In [2]:
import networkx as nx

G = nx.from_pandas_edgelist(table,
                            source="AGENTID1",
                            target="AGENTID2",
                            edge_attr="CLIENTS")

In [2]:
from pyvis.network import Network

#nt = Network(height="800px",width="800px",notebook=True)
#nt.from_nx(G)
#nt.show("social_net.html")